.App {
  text-align: center;
  font-family: helvetica;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#title {
  text-align: center;
}

.controlls {
  display: flex;
  justify-content: space-around;

}

#resturants {
  text-align: center;
  border-collapse: collapse;
  width: 100%;
  margin-top: 30px;
}

#resturants td, #resturants th {
  border: 1px solid #ddd;
  padding: 8px;
}

#resturants tr:nth-child(even) {
  background-color: #aabbdd;
}

#resturants th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  background-color: #344a7a;
  color: white;
}

.pagination {
  margin: auto;
  width: 50%;
  padding: 10px;
}

.pagination span {
  cursor: pointer;
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
}

.pagination .left {
  float: left
}

.pagination .right {
  float: right
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
